################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emoji_Dev/.vs
/Emoji_Dev/Emoji_Dev/obj/Debug
/Emoji_Dev/packages
/Emoji_Dev/Emoji_Dev/packages.config
