################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Emoji_Dev/.vs
/Emoji_Dev/Emoji_Dev/obj/Debug
/Emoji_Dev/packages
/Emoji_Dev/Emoji_Dev/packages.config
/Emoji_Dev/libs/*
/Emoji_Dev/MV_OriginalFile/*
/Emoji_Dev/scripts/*
/Emoji_Dev/Emoji_Dev/libs
/Emoji_Dev/Emoji_Dev/MV_OriginalFile
/Emoji_Dev/Emoji_Dev/scripts
/Emoji_Dev/Emoji_Dev/node_modules
